@import '../base/variables.scss';

.filter-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    figure {
        margin-bottom: 0;
        margin-top: 4px;
    }
    .choose{
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #586268;
        @media(max-width: 586px) {
            display: none;
        }
    }
    img{
        cursor: pointer;
        margin-left: 20px;
    }
}

.filter-drawer{
    .ant-drawer-header{
        padding: 16px 32px;

        .ant-drawer-header-title{
            flex-direction: row-reverse;
            .ant-drawer-title{
                font-family: 'SF-Pro-Display-Bold';
                font-size: size(20);
                color: $black;
            }
            button svg{
                color: #2E3131;
                font-size: 15px;
            }
        }
    }
    .ant-drawer-content-wrapper{
        @media screen and (max-width: 586px) {
            width: 100%!important;
        }
    }
}