.homesliders {
  .swiper {
    .swiper-pagination {
      text-align: unset;
      left: 72px;
      bottom: 50px;
      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
        background-color: #f3f5f8;
      }
      .swiper-pagination-bullet-active {
        width: 12px;
        height: 12px;
        background-color: #f3f5f8;
      }
    }
  }
  .home-slider {
    width: 100%;
    position: relative;
    .youtube-link {
      width: 140px;
      height: 110px;
      position: absolute;
      right: 150px;
      bottom: 100px;
    }
    .title {
      position: absolute;
      top: 55%;
      transform: translate(8%, -50%);
      h1 {
        font-size: 4.25rem;
        font-style: normal;
        font-weight: 700;
        color: #fff;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        line-height: 80px;
      }
    }
    .home-img {
      width: 100%;
      height: 86vh;
    }
  }
}

@media (max-width: 990px) {
  .homesliders {
    .home-slider {
      .title {
        h1 {
          font-size: 48px;
        }
      }
      .home-img {
        height: auto;
      }
    }
  }
}

@media (max-width: 768px) {
  .homesliders {
    .swiper {
      .swiper-pagination {
        left: 40px;
      }
    }
    .home-slider {
      height: 400px;
      .youtube-link {
        display: none;
      }
      .title {
        h1 {
          font-size: 32px;
          line-height: 50px;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .homesliders {
    .swiper {
      .swiper-pagination {
        display: none;
      }
    }
    .home-slider {
      .title {
        h1 {
          font-size: 29px;
        }
      }
    }
  }
}
