@import '../../styles/base/variables.scss';

.search-bar-bg{
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background: #000;
    z-index: 600;
    transform: scale(0);
    transition: transform .5s;
    transition-duration: 1s;


    &.active{
        transform: scale(80)

    }
}
.search-bar-container{
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 600;
    width: 0;
    opacity: 0;

    transition: width .5s, opacity .5s;
    transition-duration: 1s;

    &.active{
        width: 100%;
        opacity: 1;
    }

    .mobile-icons{
        display: none;
    }
}
.search-bar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 88px;
    img, svg {
        color: white
    }
    svg {
        font-size: 20px;
    }
    svg:hover {
        color: $primary;
    }
}

.search-bar {
    //min-height: 700px;
    //height: 100vh;
    background-color: #000 ;
    //padding: 0 88px;
    //position: absolute;
    //z-index: 9;
    //top: 74px;
    //width: 100%;

    .search-input {
        display: flex;
        border-bottom: 1px solid #fff;
        width: max-content;
        align-items: baseline;
        margin: 150px 0 175px 88px;
    }
    .searh-bar-logo {
        position: absolute;
        bottom: 0;
        left: 88px;
    }

    input {
        background: none;
        border: none;
        outline: none;

        width: 940px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 96px;
        color: #fff;
        font-size: 52px;
    }

    input::placeholder {
        color: rgba(255, 255, 255, 0.3);;
        font-size: 52px;
    }

    svg{
        color: #fff;
        margin-right: 10px;
        font-size: 28px;
    }
    img{
        width: 100%;
        max-width: 1264px;
        position: absolute;
        bottom: 0;
        left: 88px;
    }
}


@media screen and (max-width:1024px) {
    .search-bar-container{
        .section-p{
            display: none;            
        }
        .mobile-icons{
            display: flex;
            justify-content: center;            
            ul{
                display: inherit;
                li:not(:last-child){
                    margin-right: 25px;
                }
                svg{
                    color: #fff;
                    font-size: 20px;
                }
            }
        }
    }
    .search-bar-header{
        padding: 40px 20px;
        img{
            width: 199px;
            height: 40px;
        }
    }
    .search-bar {
        .searh-bar-logo {
            display: none;
        }

        .search-input{
            margin-left: 20px;
            margin-right: 20px;
            width: auto;
            input{
                width: 100%;
                &::placeholder{
                    font-size: 24px;
                }
            }
        }
        
    }

}