* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "SF-Pro-Display-Regular";
}

// Base
@import "./base/font.scss";
@import "./base/grid.scss";
